:root{
    --textColor:#ffffff;
    --fontFamily: Arial, sans-serif;
    --fontSize: 14px;

    --BW-background:rgba(95,145,255,0.2);
    --BW-shadow:rgba(105,155,255,0.4);

    --RW-border:rgba(255,80,80,0.3);
    --RW-background:rgba(255,80,80,0.2);
    --RW-shadow:rgba(255,60,60,0.4);

    --GW-border:rgba(80,255,80,0.3);
    --GW-background:rgba(80,255,80,0.2);
    --GW-shadow:rgba(60,255,60,0.4);

    --YW-border:rgba(255,223,80,0.3);
    --YW-background:rgba(255,223,80,0.2);
    --YW-shadow:rgba(255,213,60,0.4);
}


.summaryWindow{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    padding: 4px;
    overflow-y: auto;
    background: var(--BW-background);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px var(--BW-background), 0 0 15px var(--BW-shadow);
    color: var(--textColor);
    min-width: 350px;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: bold;
    white-space: pre-wrap;
}
@media(max-width:768px){
    .summaryWindow{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem var(--BW-background), 0 0 0.5rem var(--BW-shadow);
        min-width: 21em;
        font-size: 0.4rem;
    }
}

.terminalWindow{
    border: 2px solid white;
    padding: 4px;
    background: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    white-space: pre-wrap;
}
@media(max-width:768px){
    .terminalWindow{
        border-radius: 0.5vw;
        padding: 0.2em;
        min-width: 21em;
        font-size: 0.4rem;
    }
}

.redSummWindow{ 
    border: 1px var(--RW-border);
    background: var(--RW-background);
    box-shadow: 0 4px 10px var(--RW-background), 0 0 15px var(--RW-shadow);
    border-radius: 4px;
    padding: 4px;
    overflow-y: auto;
    backdrop-filter: blur(10px);
    color: var(--textColor);
    min-width: 350px;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: bold;
    white-space: pre-wrap;
}

@media(max-width:768px){
    .redSummWindow{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem var(--RW-background), 0 0 0.5rem var(--RW-shadow);
        min-width: 21em;
        font-size: 0.4rem;
    }
}

.redTermWindow{
    border: 2px solid var(--RW-border);
    padding: 4px;
    background: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    white-space: pre-wrap;
}
@media(max-width:768px){
    .redTermWindow{
        border-radius: 0.5vw;
        padding: 0.2em;
        min-width: 21em;
        font-size: 0.4rem;
    }
}

.greenSummWindow{
    border: 1px var(--GW-border);
    border-radius: 4px;
    padding: 4px;
    overflow-y: auto;
    background: var(--GW-background);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px var(--GW-background), 0 0 15px var(--GW-shadow);
    color: var(--textColor);
    min-width: 350px;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: bold;
    white-space: pre-wrap;
}
@media(max-width:768px){
    .greenSummWindow{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem var(--GW-background), 0 0 0.5rem var(--GW-shadow);
        min-width: 21em;
        font-size: 0.4rem;
    }
}
.greenTermWindow{
    border: 2px solid var(--GW-border);
    padding: 4px;
    background: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    white-space: pre-wrap;
}
@media(max-width:768px){
    .greenTermWindow{
        border-radius: 0.5vw;
        padding: 0.2em;
        min-width: 21em;
        font-size: 0.4rem;
    }
}

.yellowSummWindow{
    border: 1px var(--YW-border);
    border-radius: 4px;
    padding: 4px;
    overflow-y: auto;
    background: var(--YW-background);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px var(--YW-background), 0 0 15px var(--YW-shadow);
    color: var(--textColor);
    min-width: 350px;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: bold;
    white-space: pre-wrap;
}
@media(max-width:768px){
    .yellowSummWindow{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem var(--YW-background), 0 0 0.5rem var(--YW-shadow);
        min-width: 21em;
        font-size: 0.4rem;
    }
}

.yellowTermWindow{
    border: 2px solid var(--YW-border);
    padding: 4px;
    background: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    white-space: pre-wrap;
}
@media(max-width:768px){
    .yellowTermWindow{
        border-radius: 0.5vw;
        padding: 0.2em;
        min-width: 21em;
        font-size: 0.4rem;
    }
}

.columnSquare{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}