:root{
    --textColor:#ffffff;
    --fontFamily: Arial, sans-serif;
    --minFontSize: 0.1rem;
    --defaultFontSize: 0.8vw;
    --maxFontSize: 3rem;

    --panelBorde: 0.1em rgba(95,145,255,0.3);
    --borderRadius: 0.2em;

    --padding: 0.4em;
    --backdropFilter: clamp(2px, 1vw, 20px);

    --BWS-border: rgba(95,145,255,0.3);
    --BWT-border: 0.2em solid #ffffff;
    --BW-background:rgba(95,145,255,0.2);
    --BW-shadow:rgba(105,155,255,0.4);


    --RWS-border: rgba(255,80,80,0.3);
    --RWT-border: 0.2em solid rgba(255,80,80,0.3);
    --RW-background:rgba(255,80,80,0.2);
    --RW-shadow:rgba(255,60,60,0.4);

    --GWS-border:rgba(80,255,80,0.3);
    --GWT-border:0.2em solid rgba(80,255,80,0.3);
    --GW-background:rgba(80,255,80,0.2);
    --GW-shadow:rgba(60,255,60,0.4);

    --YWS-border:rgba(255,223,80,0.3);
    --YWT-border:0.2em solid rgba(255,223,80,0.3);
    --YW-background:rgba(255,223,80,0.2);
    --YW-shadow:rgba(255,213,60,0.4);

}


.summaryWindow{
    border: var(--BWS-border);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    overflow-y: auto;
    background: var(--BW-background);
    backdrop-filter: var(--backdropFilter);
    box-shadow: 0 var(--borderRadius) clamp(2px, 1vw, 20px) var(--BW-background), 0 0 clamp(2px, 1.3vw, 20px) var(--BW-shadow);
    color: var(--textColor);
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}


.terminalWindow{
    border: var(--BWT-border);
    padding: var(--padding);
    background: rgba(0,0,0, 0.5);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}


.redSummWindow{ 
    border: var(--RWS-border);
    background: var(--RW-background);
    box-shadow: 0 var(--borderRadius) clamp(2px, 1vw, 20px) var(--RW-background), 0 0 clamp(2px, 1.3vw, 20px) var(--RW-shadow);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    overflow-y: auto;
    backdrop-filter: var(--backdropFilter);
    color: var(--textColor);
    
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}


.redTermWindow{
    border: var(--RWT-border);
    padding: var(--padding);
    background: rgba(0,0,0, 0.5);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}


.greenSummWindow{
    border: var(--GWS-border);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    overflow-y: auto;
    background: var(--GW-background);
    backdrop-filter: var(--backdropFilter);
    box-shadow: 0 var(--borderRadius) clamp(2px, 1vw, 20px) var(--GW-background), 0 0 clamp(2px, 1.3vw, 20px) var(--GW-shadow);
    color: var(--textColor);
    min-width: 350px;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}

.greenTermWindow{
    border: var(--GWT-border);
    padding: var(--padding);
    background: rgba(0,0,0, 0.5);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}


.yellowSummWindow{
    border: var(--YWS-border);
    border-radius: var(--borderRadius);
    padding: var(--padding);
    overflow-y: auto;
    background: var(--YW-background);
    backdrop-filter: var(--backdropFilter);
    box-shadow: 0 var(--borderRadius) clamp(2px, 1vw, 20px) var(--YW-background), 0 0 clamp(2px, 1.3vw, 20px) var(--YW-shadow);
    color: var(--textColor);
    min-width: 350px;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}


.yellowTermWindow{
    border: var(--YWT-border);
    padding: var(--padding);
    background: rgba(0,0,0, 0.5);
    color: var(--textColor);
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    font-family: var(--fontFamily);
    font-size: clamp(var(--minFontSize), var(--defaultFontSize), var(--maxFontSize));
    font-weight: bold;
    white-space: pre-wrap;
}


.columnSquare{
    display: flex;
    flex-direction: column;
    align-items: center;
}