.menuIcon{
    width: 20px;
    height: 20px;
}

.menuPanel{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    position: fixed;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    top: 0;
    left: 0;
    height: 98vh;
    width: 17vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;   
    transform: translateX(-103%);
    transition: all 0.3s ease-in-out;
}

.menuPanelOpen{
    transform: translateX(0);
}

.menuPanelHide{
    transform: translateX(-10%);
}

.menuFlex{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 40px;
    justify-content: center;
    box-sizing: border-box;
    max-width: 300px;
}


.menuButton{
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;      
}


.lonelyButton{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 10px rgba(105,155,255,0.4);
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;   
}

.buttonsOnMenu{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2);
    height: 40px;
    
    max-width: 120px;
    margin: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.listOfTopics{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(88, 139, 250, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2);
    cursor: pointer;
    width: 140px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.listOfTopicsVisible{
    opacity: 1;
    transform: translateY(0);
}


.buttonsOnList{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2);
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 120px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bolder;
}
.checkMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2px;
}

.SummaryWindow{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    padding: 4px;
    overflow-y: auto;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    min-width: 350px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    white-space: pre-wrap;
}

.TerminalWindow{
    border: 2px solid white;
    padding: 4px;
    background: rgba(0,0,0, 0.5);
    backdrop-filter: blur(5px);
    color: #ffffff;
    min-width: max-content;
    min-height: max-content;
    text-align: left;
    white-space: pre-wrap;
}


.LogIn{
    
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    
    height: min-content;
    width: min-content;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;   

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    table{
        margin-top: 20px;
        border-collapse: collapse;
        width: 300px;
        text-align: left;
    }

    input{
        margin: 5px;
        border: 1px rgba(95,145,255,0.3);
        border-radius: 4px;
        background: rgba(95,145,255,0.2);
        backdrop-filter: blur(10px);
       
        background-color: transparent;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-align: center;   
        width: 15vh;
    }
    button{
        margin: 8px;
        border: 1px rgba(95,145,255,0.3);
        border-radius: 4px;
        background: rgba(95,145,255,0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
        background-color: rgb(93, 141, 247);
        width: 80px;
        height: 30px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-align: center;   
    }
    th{
        border: 1px solid rgba(62, 94, 157);
        padding: 5px;
    }
    td{
        border: 1px solid rgba(62, 94, 157);
        padding: 5px;
    }
    
}
.userButton{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 10px rgba(105,155,255,0.4);
    cursor: pointer;
    
    
    height: 30px;
    width: 30px;   
    
}

.profilePanel{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    position: fixed;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    top: 0;
    right: -0.1%;
    height: 98vh;
    width: 17vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;   
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.profilePanelOpen{
    transform: translateX(0);
}

.menuFlex{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 40px;
    justify-content: center;
    box-sizing: border-box;
    max-width: 300px;
}


.profileButton{
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    height: 30px;
    width: 30px;    
}

.lonelyButton{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 10px rgba(105,155,255,0.4);
    cursor: pointer;
    height: 30px;
    width: 30px;   
    
}