.menuIcon{
    width: 20px;
    height: 20px;
}

.menuPanel{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    display: flex;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 98vh;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    transform: translateX(-103%);
    transition: all 0.3s ease-in-out;
}

.menuPanelOpen{
    transform: translateX(0);
}


.menuButton{
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    left: 1%;
    top: 1.5%;
    height: 30px;
    width: 30px;      
}

.lonelyButton{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 10px rgba(105,155,255,0.4);
    cursor: pointer;
    position: absolute;
    left: 0.9%;
    top: 1.5%;
    height: 30px;
    width: 30px;   
}


