.variablesStyle{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    font-family: monospace;
    font-size: 20px;
}
.variableColor{
    color: #2d7ad6;
}
.variableName{
    color: #7cdcf0;
}
.variableData{
    color: #c3602d;
}
.variableIf{
    color: #9579c0; 
}
.variableO{
    color: #f03476;
}
