.LogIn{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    height: min-content;
    width: min-content;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;   
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    table{
        border-collapse: collapse;
        margin-top: 20px;
        width: 300px;
        text-align: left;
    }

    input{
        border: 1px rgba(95,145,255,0.3);
        border-radius: 4px;
        background: rgba(95,145,255,0.2);
        backdrop-filter: blur(10px);
        background-color: transparent;
        margin: 5px;
        width: 15vh;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-align: center;   
    }

    button{
        border: 1px rgba(95,145,255,0.3);
        border-radius: 4px;
        background: rgba(95,145,255,0.2);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
        background-color: rgb(93, 141, 247);
        margin: 8px;
        min-width: 80px;
        height: 30px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-align: center;   
    }
    th{
        border: 1px solid rgba(62, 94, 157);
        padding: 5px;
    }
    td{
        border: 1px solid rgba(62, 94, 157);
        padding: 5px;
    }
    
}
@media(max-width:768px){
    .LogIn{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem rgba(95,145,255,0.2), 0 0 0.5rem rgba(105,155,255,0.4);
        font-size: 1rem;
    }
    .LogIn input{
        border-radius: 0.5vw;
        margin: 0.3em;
        width: 15vh;
        font-size: 1rem;  
    }
    .LogIn button{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem rgba(95,145,255,0.2), 0 0 0.5rem rgba(105,155,255,0.4);
        margin: 0.4em;
        min-width: 17vw;
        height: 3vh;
        font-size: 1rem;
    }
    .LogIn th, .LogIn, tb{
        padding: 0.1em;
    }
}