:root{
    --textColor:#ffffff;
    --fontFamily: Arial, sans-serif;
    --fontSize: 16px;
    --border: 1px rgba(95,145,255,0.3);
    --backgroundColor: rgba(95,145,255,0.2);
    --shadow: rgba(105,155,255,0.4);
}

.LogIn{
    border: var(--border);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background: var(--backgroundColor);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px var(--backgroundColor), 0 0 15px var(--shadow);
    color: var(--textColor);
    height: min-content;
    width: min-content;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    text-align: center;   
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    table{
        border-collapse: collapse;
        margin-top: 20px;
        width: 300px;
        text-align: left;
    }

    input{
        border: var(--border);
        border-radius: 4px;
        background: var(--backgroundColor);
        backdrop-filter: blur(10px);
        background-color: transparent;
        margin: 5px;
        width: 15vh;
        font-family: var(--fontFamily);
        font-size: var(--fontSize);
        text-align: center;   
    }

    button{
        border: var(--border);
        border-radius: 4px;
        background: var(--backgroundColor);
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 10px var(--backgroundColor), 0 0 15px var(--shadow);
        background-color: rgb(93, 141, 247);
        margin: 8px;
        min-width: 80px;
        height: 30px;
        font-family: var(--fontFamily);
        font-size: var(--fontSize);
        text-align: center;   
    }
    th{
        border: 1px solid rgba(62, 94, 157);
        padding: 5px;
    }
    td{
        border: 1px solid rgba(62, 94, 157);
        padding: 5px;
    }
    
}
@media(max-width:768px){
    .LogIn{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem var(--backgroundColor), 0 0 0.5rem var(--shadow);
        font-size: 1rem;
    }
    .LogIn input{
        border-radius: 0.5vw;
        margin: 0.3em;
        width: 15vh;
        font-size: 1rem;  
    }
    .LogIn button{
        border-radius: 0.5vw;
        box-shadow: 0 0.5rem 1rem var(--backgroundColor), 0 0 0.5rem var(--shadow);
        margin: 0.4em;
        min-width: 17vw;
        height: 3vh;
        font-size: 1rem;
    }
    .LogIn th, .LogIn, tb{
        padding: 0.1em;
    }
}