.panelIcon{
    width: 20px;
    height: 20px;
}
.panelIconPlace{
    display: flex;
    min-height: 30px;
    min-width: 30px;
}


.menuPanel{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    position: fixed;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    height: 98vh;
    width: 17vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;   
    transform: translateX(-105%);
    transition: all 0.3s ease-in-out;
    
}

.menuPanelOpen{
    transform: translateX(0);
}

.menuButton{
    position: fixed;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    width: 30px;      
}


.lonelyButton{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 10px rgba(105,155,255,0.4);
    cursor: pointer;
    position: fixed;
    height: 30px;
    width: 30px;   
}


.profilePanel{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    position: fixed;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 15px rgba(105,155,255,0.4);
    color: #ffffff;
    right: 0.3%;
    height: 98vh;
    width: 17vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;   
    transform: translateX(103%);
    transition: all 0.3s ease-in-out;
}

.profilePanelOpen{
    transform: translateX(0);
}

.profileButton{
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    right: 0.4%;
    height: 30px;
    width: 30px;    
}

.lonelyProfileButton{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2), 0 0 10px rgba(105,155,255,0.4);
    cursor: pointer;
    position: fixed;
    right: 0.4%;
    height: 30px;
    width: 30px;   
}

.addUserButton{
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(95, 255, 145, 0.2);
    box-shadow: 0 4px 10px rgba(95,255,145,0.2), 0 0 10px rgba(105,255,155,0.4);
    cursor: pointer;
    height: 30px;
    width: 30px;   
}
.hideAddUserButton{
    padding: 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(95, 255, 145, 0.2);
    box-shadow: 0 4px 10px rgba(95,255,145,0.2), 0 0 10px rgba(105,255,155,0.4);
    cursor: pointer;
    height: 30px;
    width: 30px;  
    transform: translateX(1000%);
    transition: all 0.3s ease-in-out; 
}
.logOutButton{
    border: none;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    height: 30px;
    width: 30px; 
    margin-right: 8px;
}


.buttonsOnPanels{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2);
    height: 40px;
    max-width: 120px;
    margin: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
}
.listOfTopics{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(88, 139, 250, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2);
    cursor: pointer;
    width: 140px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.listOfTopicsVisible{
    opacity: 1;
    transform: translateY(0);
}

.buttonsOnList{
    border: 1px rgba(95,145,255,0.3);
    border-radius: 4px;
    background: rgba(95,145,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(95,145,255,0.2);
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 120px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bolder;
}

