/* global styles for project 
    bad practice */
.button {
    padding: 15px 32px;
    border-radius: 4px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.card{
    padding: 20px;
    border-radius: 8px;
    background-color: #f1f1f1;
    color: red;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    font-size: 30px;
}

